@import '../../sass/variables.scss';
@import '../../sass/mixin.scss';

.your-ratings {
    padding-top: 12rem;
    min-height: 100vh;

    &__list {

        // border-right: 1px solid gray;
        // border-left: 1px solid gray;
        // padding: 30px;
        margin-top: 5rem;
    }
    
    &__cart {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 7rem;
        padding-bottom: 3rem;
        background: #00000056;
        padding: 3rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-radius: 1.2rem;

        @media (max-width: 700px) {
            flex-direction: column-reverse;
        }
        &__content {

            h3 {
                font-size: 1.8rem;
                font-weight: 600;
            }
    
            p {
                font-size: 1.4rem;
                margin-top: 1rem;
            }
    
            &__time {
                margin-top: 1rem;
            }
            &__genre {
               margin-top: 1rem; 
            }
    
            &__actors {
                display: flex;
                flex-direction: column;
                gap: 8px;
                margin-top: 1rem;
    
                span {
                    font-size: 1.4rem;
                }
            }
        }
    
    
        &__image {
    
            img {
                height: 25rem;
            }
        }
    }
}