@import '../../sass//variables.scss';
@import '../../sass//mixin.scss';

.heading {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    font-style: italic;

    @media (max-width: 600px) {
        font-size: 2.5rem;
        margin-top: 0px;
    }
}