@import '../../sass/variables.scss';
@import '../../sass/mixin.scss';


.top-ratings {
    margin-top: 10rem;
    margin-bottom: 100px;


    
        &__list {
            display: flex;
            gap: 1rem;
            width: 100%;
    
            @media(max-width: 900px) {
                flex-wrap: wrap;
            }
    
        }
    
}