@import '../../sass/variables.scss';
@import '../../sass/mixin.scss';

.feature {


    &__list {
        display: flex;
        gap: 1rem;
        width: 100%;

        @media(max-width: 900px) {
            flex-wrap: wrap;
        }

    }
}