@import './sass/variables.scss';
@import './sass/mixin.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #090909d8;
  color: var(--bs-white);
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    max-width: 1000px;
  }
  @media (max-width: 1000px) {
    max-width: 900px;
  }
  @media (max-width: 900px) {
    max-width: 700px;
  }
  @media (max-width: 700px) {
    max-width: 500px;
  }
  @media (max-width: 500px) {
    max-width: 400px;
  }
  @media (max-width: 400px) {
    max-width: 330px;
  }
  @media (max-width: 330px) {
    max-width: 300px;
  }
}

a {
  text-decoration: none;
  color: var(--bs-white);
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}
button {
  cursor: pointer;
}

.loading-page {
  text-align: center;
  margin-top: 100px;
  font-weight: 600;
  font-size: 30px;

}

.rate-button {
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  border: none;
  color: var(--bs-white);
  text-transform: uppercase;
  font-weight: 600;
  background-color: var(--bs-gray50);
}
input[type=radio]  {
  display: none;
}
.star {
  cursor: pointer;
}
.rating-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  font-size: 25px;
}
.rating-title h6 {
  font-size: 22px;
}
.rating-title span {
  background-color: var(--bs-color-secondary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}
.rating-label {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}